@import url("https://fonts.googleapis.com/css?family=Sniglet");
/**
    Variables
*/
/**
    Style
*/
body {
  background-color: #000;
  margin: 0;
  font-family: 'Sniglet', cursive;
}

body iframe {
  display: none;
}

body #login_page {
  text-align: center;
  padding-top: 200px;
  background-image: url(/images/background_login.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body #login_page #main-header .welcomeTitle {
  display: inline-block;
  margin: 15px 20px 30px 20px;
  color: #fff;
}

body #login_page #main-header .close {
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  height: 30px;
  width: 30px;
  right: 20px;
  top: 20px;
  position: absolute;
  font-weight: 600;
  border-color: #fff;
  cursor: pointer;
}

body #login_page form {
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  border-style: solid;
  border-color: #fff;
  border-width: 3px;
  border-radius: 10px;
  padding-top: 220px;
  padding-bottom: 60px;
}

body #login_page form label {
  color: #fff;
  float: left;
  margin-left: 80px;
}

body #login_page form input[name='user'],
body #login_page form input[name='password'] {
  margin: 10px;
  padding: 10px 0 10px 34px;
}

body #login_page form input[type='button'] {
  margin: 10px;
  width: 275px;
  height: 35px;
  cursor: pointer;
  font-family: 'Sniglet', cursive;
}

body #login_page form .fa-user, body #login_page form .fa-lock {
  position: absolute;
  margin: 26px 0 0 25px;
}

body #login_page #logo {
  position: absolute;
  top: 100px;
  margin-left: 10px;
  width: 280px;
}

body #login_page #authenticationError {
  color: #fff;
}

body #home_page {
  text-align: center;
  background-image: url(/images/background_home.png);
  background-size: cover;
  background-repeat: no-repeat;
}

body #home_page ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

body #home_page li {
  float: left;
}

body #home_page li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body #home_page .welcomeUser {
  color: #fff;
  font-size: 25px;
}

body #home_page .companyTitle {
  color: #fff;
  font-size: 30px;
  margin-top: 0;
}

body #home_page .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1200px calc(100% - 1200px);
      grid-template-columns: 1200px calc(100% - 1200px);
}

body #home_page .grid-container .grid-item {
  text-align: center;
}

body #home_page .grid-container .grid-item #addBook .form-title, body #home_page .grid-container .grid-item #addUser .form-title, body #home_page .grid-container .grid-item #addStudent .form-title, body #home_page .grid-container .grid-item #addTeacher .form-title, body #home_page .grid-container .grid-item #addLibrarian .form-title, body #home_page .grid-container .grid-item #addLoan .form-title {
  color: #fff;
}

body #home_page .grid-container .grid-item #addBook input, body #home_page .grid-container .grid-item #addUser input, body #home_page .grid-container .grid-item #addStudent input, body #home_page .grid-container .grid-item #addTeacher input, body #home_page .grid-container .grid-item #addLibrarian input, body #home_page .grid-container .grid-item #addLoan input {
  margin: 5px;
  padding: 5px;
  width: 300px;
}

body #home_page .grid-container .grid-item #addBook select, body #home_page .grid-container .grid-item #addUser select, body #home_page .grid-container .grid-item #addStudent select, body #home_page .grid-container .grid-item #addTeacher select, body #home_page .grid-container .grid-item #addLibrarian select, body #home_page .grid-container .grid-item #addLoan select {
  margin: 5px;
  padding: 5px;
  width: 325px;
}

body #home_page .grid-container .grid-item #addBook input[type='submit'], body #home_page .grid-container .grid-item #addUser input[type='submit'], body #home_page .grid-container .grid-item #addStudent input[type='submit'], body #home_page .grid-container .grid-item #addTeacher input[type='submit'], body #home_page .grid-container .grid-item #addLibrarian input[type='submit'], body #home_page .grid-container .grid-item #addLoan input[type='submit'] {
  margin-top: 20px;
  width: 325px;
}

body #home_page .grid-container .grid-item .table-wrapper {
  position: relative;
}

body #home_page .grid-container .grid-item .table-wrapper .table-scroll {
  overflow: auto;
  height: 525px;
  margin-top: 20px;
}

body #home_page .grid-container .grid-item table {
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 90%;
  border-radius: 5px;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

body #home_page .grid-container .grid-item table tr {
  border-radius: 5px;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

body #home_page .grid-container .grid-item table tr td {
  border-color: #fff;
  border-width: 0.5px;
  border-style: solid;
  padding: 5px;
  font-size: 14px;
}

body #home_page .grid-container .grid-item table tr .attribute-title {
  font-weight: bold;
  font-size: 16px;
}

body #home_page .grid-container .grid-item #getBookById {
  margin-top: 30px;
}

body #home_page .sidepanel {
  background-color: rgba(21, 18, 10, 0.5);
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */